#Warning: Matching envs in your terminal will take precedence over vars in the .env file

#The list of network addressess to search for EPICS Channel Access servers
EPICS_CA_ADDR_LIST=YOUR.IP.ADDRESS.RUNNING.EPICS

#Set to 'NO' when providing a CA ADDR LIST
EPICS_CA_AUTO_ADDR_LIST=NO

#Set PV_WRITE_SUPPORT=true for enabling write access to PVs in motor controller modules via PVWS
#This is not required to run bluesky plans with the queue server
PV_WRITE_SUPPORT=true

#For running the frontend container by itself, not required with default docker compose
HOST_IP = 172.17.0.1 #Default docker bridge gateway for Linux, overwrite with your linux machine IP
#HOST_IP = host.docker.interl #Use this for Mac OS running docker