# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage
python-server/test
python-server/.ipynb_checkpoints

# production
frontend/build

# misc
.DS_Store
frontend/.DS_Store
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
python-server/__pycache__/main.cpython-311.pyc
python-server/__pycache__
python-server/__pycache__/



epics-docker/

.env

#Jupyter Lab
server/.ipynb_checkpoints/
server/Untitled.ipynb
server/Untitled1.ipynb

pvws/

epics-camera/
