* {
  box-sizing: border-box;
}


.scrollbar-always-visible::-webkit-scrollbar {
  background-color: grey;
  border-radius: 10px;
  width: 10px;
  height: 10px;
}

.scrollbar-always-visible::-webkit-scrollbar-thumb {
  background-color: white; /* Customize scrollbar thumb color */
  border-radius: 6px; /* Round scrollbar corners */
}

.scrollbar-always-visible::-webkit-scrollbar {
  background-color: grey;
  border-radius: 10px;
  width: 10px;
  height: 10px;
}

.scrollbar-track-black::-webkit-scrollbar {
  background-color: black;
}

