* {
  box-sizing: border-box;
}


.scrollbar-always-visible::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.118);
  border-radius: 10px;
  width: 10px;
  height: 10px;
  margin-right:2px;
}

.scrollbar-always-visible::-webkit-scrollbar-thumb {
  background-color: rgba(22, 23, 25, 0.128); /* Customize scrollbar thumb color */
  border-radius: 6px; /* Round scrollbar corners */
}


.scrollbar-track-black::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.118);
}

